/* Très Clair */
#editor__menu, /* Fond du menu */
#editor__menu .editor__menu__hide_button, /* Bouton pour afficher/cacher le menu */
.window .title /* Titres des fenetres */
 {
    background-color: #5EB3EC;
}

/* Clair */
#editor__menu .editor__menu__button, /* Bouttons "click" */
#editor__menu .editor__menu__button.off, /* Bouttons "toggle" éteinds */
.window .title .close {
    background-color: #3498db;
}

/* Normal */
#editor__menu .editor__menu__button.off .editor__menu__button__circle_on_off /* Cercle des bouttons éteinds */
 {
    background-color: #2980b9;
}

/* Foncé */
#editor__menu .editor__menu__button.on /* Bouttons "toggle" allumés */
 {
    background-color: #2980b9;
}

/* Très foncé */
#editor__menu .editor__menu__button.on .editor__menu__button__circle_on_off /* Cercle des bouttons allumés */
 {
    background-color: #296D99;
}