.editor__window {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ie-transform: translate(-50%, -50%);

    height: 600px;
    width: 50%;
}

.editor__window__title {
    position: relative;

    top: 0;
    left: 0;

    height: 15%;
    width: 100%;

    box-sizing: border-box;

    border-radius: 30px 30px 0 0;

    color: #FFF;
    font-size: 24px;

    padding-left: 30px;
}

.editor__window__title span {
    display: block;

    position: relative;
    top: 50%;

    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ie-transform: translate(0, -50%);
}

.editor__window__title__close {
    position: absolute;

    height: 30px;
    width: 30px;

    right: 0; /* La même que border-radius de .window */
    top: 30px; /* La même que border-radius de .window */

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ie-transform: translate(-50%, -50%);

    border-radius: 15px;

    cursor: pointer;
}

.editor__window__title__close:hover {
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.8);
}

.editor__window__title__close span {
    display: block;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ie-transform: translate(-50%, -50%);

    font-size: 20px;

    text-align: center;
}

.editor__window__content {
    background-color: #FFF;
    border-radius: 0 0 30px 30px;
    padding-bottom: 30px;
    height: 85%;
    box-sizing: border-box;
}

.editor__window__content__text {
    position: relative;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    overflow-y: auto;
    box-sizing: border-box;
}

/* FENETRES CACHEES */

.editor__window.hidden {
    border-radius: 30px 30px 0 0;
    left: 150%;
}

.editor__window.hidden .editor__window__content {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* FENETRES ANIMATIONS */

.editor__window,
.editor__window__content {
    -webkit-transition: all 0.6s ease 0.6s;
    -moz-transition: all 0.6s ease 0.6s;
    -ie-transition: all 0.6s ease 0.6s;
    -o-transition: all 0.6s ease 0.6s;
    transition: all 0.6s ease 0.6s;
}

.editor__window {
    -webkit-transition: left 0.6s ease 0s;
    -moz-transition: left 0.6s ease 0s;
    -ie-transition: left 0.6s ease 0s;
    -o-transition: left 0.6s ease 0s;
    transition: left 0.6s ease 0s;
}

.editor__window.hidden,
.editor__window.hidden .editor__window__content {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ie-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.editor__window.hidden {
    -webkit-transition: left 0.6s ease 0.6s;
    -moz-transition: left 0.6s ease 0.6s;
    -ie-transition: left 0.6s ease 0.6s;
    -o-transition: left 0.6s ease 0.6s;
    transition: left 0.6s ease 0.6s;
}