<div id="menu" class="hidden">

    <div id="autocomplete" class="button toggle off">
        <span>Autocomplétion</span>
        {# Cercle qui se déplasse en fonction de si le bouton est on ou off #}
        <div class="circle_on_off"></div>
    </div>

    <div id="tabulation" class="button toggle off">
        <span>Tabulation : Tab</span>
        {# Cercle qui se déplasse en fonction de si le bouton est on ou off #}
        <div class="circle_on_off"></div>
    </div>

    <div id="raccourcis" class="button click">Raccourcis</div>

    <div class="hide_buton down">
        <img src="/img/fleche-noire-haut.png">
    </div>

</div>

<form id="composer" method="POST">
    <textarea id="input" name="markup" ></textarea>
</form>
<div id="result" ></div>

<!-- Fenetre qui contient les raccourcis -->
<div class="window hidden" id="shortcuts">
    <div class="title">
        <span>Raccourcis</span>

        <div class="close">
            <span>&#10060;</span>
        </div>
    </div>

    <div class="content">
        <div class="text">

        </div>
    </div>
</div>